table {
  border-collapse: collapse;
}

table.react-bootstrap-table {
  width: 100%;
  border: solid 1px #dcdcdc;
}

.react-bootstrap-table thead tr {
  display: table;
  width: 100%;
}

.react-bootstrap-table thead th {
  padding: 15px;
  border: solid 1px #dcdcdc;
}

.react-bootstrap-table tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px #dcdcdc;
  height: unset;
  margin-top: -1px;
}

.custom-table-container.has-scroll .react-bootstrap-table tbody {
  height: 500px;
  width: calc(100% + 15px);
}

.react-bootstrap-table tbody tr {
  width: 100%;
  cursor: text;
  display: table;
}

.react-bootstrap-table tbody tr:nth-child(2n) {
  background-color: #eee;
}

.react-bootstrap-table table {
  width: 100%;
}

.react-bootstrap-table tbody tr td {
  padding: 5px 10px;
  border: solid 1px #dcdcdc;
  height: 15px;
  width: 12%;
  max-width: 12%;
  min-width: 12%;
}

.react-bootstrap-table tbody tr td input {
  max-width: 110px;
}

.react-bootstrap-table table thead > tr > th {
  outline: none;
  background-color: #d5e3fa;
  border: solid 1px #c4c4c4;
  padding: 10px;
  width: 12%;
  max-width: 12%;
  min-width: 12%;
  word-break: break-word;
}

.react-bootstrap-table table thead > tr > th p {
  font-size: 13px;
  font-weight: normal;
}