.about-container {
  max-width: 1500px;
  margin: 0 auto;
}

.about-header-wrapper {
  width: 100%;
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-header button {
  padding: 5px 15px;
}

.rating-card-heading {
  color: black;
}

.rating-card-container {
  display: flex;
  justify-content: space-between;
}

.rating-attr-card {
  background: #D6DCE5;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  color: #44546A;
  height: 110px;
  width: 45%;
  margin: 0 5px 20px;
}

.rating-attr-card:last-child {
  /*margin-right: 0;*/
}

.rating-attr-card .card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-attr-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.rating-attr-card .card-content p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0;
  margin: 0;
}

.rating-attr-card .card-content ul {
  padding-left: 20px;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 11px;
}

.rating-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.rating-bottom-container > div > p {
  font-size: 14px;
  color: #6B6B6B;
  margin: 5px 10px;
}

.rating-bottom-container button {
  margin-right: 5px;
  min-width: 175px;
}

@media (max-width: 1420px) {
  .rating-card-container {
    flex-wrap: wrap;
  }
  .rating-attr-card .card-content p {
    font-size: 22px;
  }
  .rating-attr-card .card-content ul {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .rating-attr-card {
    width: 100%;
  }
  .rating-bottom-container {
    display: block;
  }
  .rating-bottom-container button {
    margin-left: 5px;
    margin-top: 10px;
  }
}