.study-tab-container {
  display: flex;
  width: 70%;
  margin-left: 30%;
  margin-bottom: 10px;
}

.study-tab {
  width: 100%;
  display: flex;
}

.study-tab > div {
  padding: 5px 7px;
  width: 13%;
  border: solid 1px #C4C4C4;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background-color: #ECECEC;
}

.study-tab > div.empty {
  border: solid 1px white;
  background-color: white;
}

.study-tab > div:first-child {
  background-color: #D4D4D4;
  border-right: none;
}

.tbl-all-websites .react-bootstrap-table tbody {
  max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tbl-all-websites .react-bootstrap-table tbody tr td.react-bootstrap-table-editing-cell {
  max-width: 10% !important;
  width: 10% !important;
}

.tbl-all-websites .react-bootstrap-table tbody tr td input {
  height: 100%;
}