.powered-by {
  height: 55px;
  margin-top: -15px;
}

.powered-by > div {
  float: right;
  text-align: left;
}

.powered-by a {
  text-decoration: none;
}

.powered-by p {
  margin: 0;
  font-size: 14px;
  color: #446292;
  font-weight: 500;
}

.home-body {
  padding-top: 100px;
}

.navigation-container {
  width: 500px;
  margin: 0 auto;
}

.navigation-container button {
  display: block;
  padding: 15px 20px;
  background-color: #eeeeee;
  color: #335588;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 27px;
  border-radius: 15px;
  border: none;
  width: 100%;
  outline: none;
}

.navigation-container button.enter-data {
  color: #eee;
  background-color: #335588;
}

.App-header .logo img {
  width: 364px;
}

.powered-by img {
  width: 152px;
}