.custom-data-sheet {
  width: 100%;
}

.custom-data-sheet tbody {
  width: calc(100% + 15px);
  height: 400px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px #dcdcdc;
  margin-top: -1px;
}

.custom-data-sheet thead tr {
  display: table;
  width: 100%;
}

.custom-data-sheet tbody tr {
  width: 100%;
  display: table;
}

.custom-data-sheet tbody tr td {
  height: 24px !important;
}

.custom-data-sheet.w-8 tbody tr td {
  width: 12.5%;
}

.custom-data-sheet.w-8 tbody tr td input {
  height: 100% !important;
  width: calc(100% - 4px) !important;
}
