.main-header {
  background: #eeeeee;
  padding: 20px 70px 0;
}

.main-header .main-header-top {
  display: flex;
  justify-content: space-between;
}

.main-body {
  padding: 50px 100px 80px;
  text-align: left;
}

.main-header-top .logo img {
  width: 152px;
}

.main-logo {
  display: flex;
  align-items: flex-end;
}

.main-logo p {
  margin: -7px 0 5px -12px;
  text-align: left;
  font-size: 18px;
  color: #355187;
}

.logo-second img {
  width: 121px;
}

.logo-second {
  height: 65px;
}

.logo-second a {
  text-decoration: none;
  color: #446292;
}
