.line {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #4f81bd;
  stroke: #4f81bd;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
