.c-level-container {
  display: flex;
  align-items: center;
  margin: 0 auto 25px;
  max-width: 1500px;
}

.c-level-container span {
  margin-right: 10px;
  font-weight: bold;
}

.view-result-body > div:last-child {
  text-align: right;
  margin-top: -25px;
  font-size: 12px;
}

.result-container {
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  padding: 17px;
  margin: 0 auto 50px;
  max-width: 1500px;
}

.result-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.result-header svg {
  margin-right: 10px;
}

.result-body {
  padding: 30px 10px 0 35px;
}

.result-body-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.result-body-inner-wrapper .export-btn-container {
  display: flex;
  align-items: flex-end;
}

.export-btn-container .btn-primary {
  border-radius: 5px;
  background-color: #d4d4d4;
  padding: 6px 15px;
}

.result-body .export-btn-container {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.chart-desc {
  font-weight: bold;
}

#chart-overall-percentile-bar p {
  margin: 0 0 15px 10px;
}

#chart-overall-percentile-line p {
  margin: 0 0 0 10px;
}

.chart-container {
  display: flex;
}

.chart-container .labels {
  display: flex;
  margin-left: 66px;
  margin-top: -60px;
}

.chart-container .labels p {
  width: 52px;
  margin: 10px 2px;
  font-size: 10px;
  text-align: center;
}

.single-label p {
  margin-left: 14px !important;
}

.tbl-individual-raw-values {
  width: 80%;
}

.individual-raw-values-inner {
  margin-bottom: 5px;
}

.individual-raw-values-inner + div {
  font-size: 12px;
}

@media (max-width: 1410px) {
  .result-body-inner-wrapper {
    display: block;
  }
  .result-body-inner-wrapper > table {
    margin: 0 auto 30px;
  }
  .result-body-inner-wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .export-btn-container {
    justify-content: center !important;
  }
}