.c-level-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.c-level-container span {
  margin-right: 10px;
  font-weight: bold;
}

.view-result-body > div:last-child {
  text-align: right;
  margin-top: -25px;
  font-size: 12px;
}

.result-container {
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  padding: 17px;
  margin-bottom: 50px;
}

.result-header {
  display: flex;
  align-items: center;
}

.result-header svg {
  margin-right: 10px;
  cursor: pointer;
}

.result-body {
  padding: 30px 10px 0 35px;
}

.result-body-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.result-body-inner-wrapper .export-btn-container {
  display: flex;
  align-items: flex-end;
}

.export-btn-container .btn-primary {
  border-radius: 5px;
  background-color: #d4d4d4;
  padding: 6px 15px;
}

.result-body .export-btn-container {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.chart-desc {
  font-weight: bold;
}

#chart-overall-percentile-bar p {
  margin: 0 0 15px 10px;
}

#chart-overall-percentile-line p {
  margin: 0 0 0 10px;
}

.chart-container {
  display: flex;
}

.chart-container .labels {
  display: flex;
  margin-left: 66px;
  margin-top: -60px;
}

.chart-container .labels p {
  width: 60px;
  font-size: 11px;
  text-align: center;
  margin-left: 0;
}

.single-label p {
  margin-left: 14px !important;
}

.tbl-individual-raw-values {
  width: 80%;
}

.individual-raw-values-inner {
  margin-bottom: 5px;
}

.individual-raw-values-inner + div {
  font-size: 12px;
}