.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20% 0;
}

.nav-header button {
  padding: 10px 20px;
  text-decoration: none;
  color: #335588;
  border-radius: 15px 15px 0 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-header button:hover {
  background-color: white;
}

.nav-header button.active {
  background-color: white;
}
